<header >
  <nav class="navbar navbar-static-top" style="background: #000000; margin-bottom:0">
    <div class="container">
      <div class="navbar-header" >
        <a [routerLink] = "['/']" class="navbar-brand" style=" margin-bottom: 12px;">
          <img src="../../assets/img/SAP_logo.png" id="paddingIcon" style=" height: 150%;">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive = "active" ><a  [routerLink] = "['/about']" style="margin-top: 6px">About</a></li>
          </ul>
        </div>

    </div>
  </nav>
  </header>