<div class="wrapper">

    <mt-header> </mt-header>

    <div class="content-wrapper" style="margin-left: 0%">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <mt-footer> </mt-footer>
    
</div>
