<section  class="content" >
  <div class="jumbotron welcome-jumbotron">
    <h1>Welcome to the application</h1>
      <p> Please draw the character on the board below and click on the show result button</p>
      <div class="btn btn-primary btn-log" (click)="onResultClick()" style="margin-right: 10px"> Show Result</div>  
  </div>
</section>
<section  class="content" >
    <div class="jumbotron"><p>Draw here</p>
      <div> <mt-canvas></mt-canvas></div>
      <p *ngIf="result">Result: <b>{{result}}</b></p>
    </div>
</section>

<section  class="content" >
    <div class="jumbotron"><p>Train here</p>
      <div class="btn btn-primary btn-log" disabled="true" (click)="onTrainClick()" style="margin-right: 10px"> Train</div>  
      <p *ngIf="trainFlag" >Trained: {{trained}}/100%</p>
    </div>
</section>


